[submodule "fruity-friends-paris-frontend"]
	path = fruity-friends-paris-frontend
	url = https://github.com/madztheo/fruity-friends-paris-frontend
	branch = main
[submodule "fruity-friends-paris-sc"]
	path = fruity-friends-paris-sc
	url = https://github.com/guelowrd/fruity-friends-paris-sc
	branch = main